/* Main Container Animations */

.container-pictures-section {
  animation: UpAndDown 3s ease-in-out infinite alternate;
}

@keyframes UpAndDown {
  0% {
    bottom: 20rem;
  }

  100% {
    bottom: 30rem;
  }

}
