/* Main Container Animations */

.container-pictures-section {
  animation: UpAndDown 0.8s ease-in-out infinite alternate;
}

@keyframes UpAndDown {
  0% {
    bottom: 0rem;
  }

  100% {
    bottom: 2rem;
  }

}
