:root {
  --font-size-large: 64px;
  --font-size-medium: 24px;
  --font-size-small: 20px;
  --font-size-default: 18px;

  --icons-light-background: #ffffff33;
  --text-primary: #ffffff;
  --text-secondary: #0b0a0a;
  --buttons-highlight: #F1A5B1;
  --buttons-background: #F1A5B1;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}