html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-image: url(../assets/images/desktop-background.png);
  background-repeat: no-repeat;
  background-size: 170%;
  background-color: #000;
}

.wrapper {
  max-width: 1216px;
  margin: 0 auto;
  padding: 4.8rem 3.2rem;
}

/* header css */
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10rem;
}

/* logo css */
.container-logo > img {
  width: 166px;
  height: 80px;
}

/* menu css */
.container-menu {
}

.container-menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2.4rem;

  list-style: none;
}

.container-menu-list-item {
  min-width: 40px;
  min-height: 40px;

  border-radius: 50%;
  border: 1px solid var(--text-primary);
  padding: 12px;

  background-color: var(--icons-light-background);

  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.container-menu-list-item:hover {
  opacity: 1;
}

.menu-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main css */
.container-main {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container-descriptions-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.description-director-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;

  color: var(--text-primary);
  text-transform: uppercase;

  margin-bottom: 0.8rem;
}

.description-movie-name {
  font-family: "Andada Pro", sans-serif;
  font-weight: 800;
  font-size: 6.4rem;

  line-height: 7.04rem;
  text-transform: uppercase;
  color: var(--text-primary);

  margin-bottom: 3.2rem;
}

.description-movie-synopsis {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;

  line-height: 3.6rem;
  color: var(--text-primary);

  margin-bottom: 4.6rem;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
}

.container-buttons a {
  text-decoration: none;
}

.button-container {
  background-color: transparent;
  color: var(--text-primary);

  border-radius: 4px;
  border: 2px solid var(--buttons-highlight);

  padding: 1.4rem 3.2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  line-height: 2.1rem;

  gap: 0.8rem;

  transition: all 0.3s ease;
}

.button-container > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;

  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.button-container:hover {
  background-color: var(--buttons-background);
  color: var(--text-secondary);
}

.container-pictures-section {
  display: flex;
  flex-direction: row;
  flex: 1.3;

  position: relative;
  bottom: 20rem;
  width: 300px;
}

.element-left-phatom {
  object-fit: cover;
}

.element-right-phantom {
  object-fit: cover;
  position: relative;
  right: 13rem;
}

/* background css */
.container-background-image {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
}

.background-image-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}
